
.explain-text{
    text-align: center;
    padding: 10px 5px;
    border-radius:10px;
    color: #fff;
    background-color: gray;
}
.item{
    display: inline-block;
    width: 24.8%; /*width must be 25% */
    background-color: #000;
    text-align: center;
    color: #fff;
}

.item img{
    width: 100%;
}


/* Apply Float Concept to fix inline-block problem (white spaces)*/

/* Floating made to fix display inline-block problems 
    but makes another problem : 
    any element after last float element will be floated to 
    to fix this problem u must use property called : clear
    after the last floated element 
*/
.item-1{
    float: left;
    width: 15%; /*width must be 25% */
    background-color: #000;
    text-align: center;
    color: #fff;
}

.item-1 img{
    width: 100%;
}
.clear-fix{
    clear: both;
}
/* Note :
    if set the float elements in the left 
    u must set the clear proberty at the left to
    now u fix the float problem , but in 2025 is not (recommended) 
    i think u will use it in (special cases)
*/
.item-3{
    width: 80%;
    height: 300px;
    background-color: #09c;
    margin-left:auto;
    /* take the left space */
    margin-right:auto ;
    /* take the right space */
}

/* how to center the div using marign */

.container{
    background-color: tomato;
    margin: 10px auto;
    width: 60%;
    text-align: center; 
}
.container img {
    width: 100%;
}
.container button{
    /* display: block;  */
    margin: auto; 
    /* u cant apply margin:auto; on inline elements 
        like a button
        note :
        Using margin: auto; to center inline elements directly
        is not effective because inline elements do not respect
        the margin: auto; property for centering. Inline elements
        are designed to flow with the text and do not have a fixed
        width or height that can be centered using margin: auto;.
    */
}

/* another exercise */
.gallery{
    width: 80%;
    margin: auto;
}
.gallery-item{
    width: 25%;
    float: left;
}
.gallery-item img{
    width: 100%;
    display: block;
}